@{
    var errorMessage = TempData["ErrorMessage"] as string;
    if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            alert('@errorMessage');
        </script>
    }
}
@{
    Layout = "~/Views/Shared/_adminsLayout.cshtml";
}
@model Vitality.Models.Bed

@{
    ViewData["Title"] = "Edit Bed";
}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Modify your Bed Details</h3>
                    @*<ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:(0)">Settings</a></li>
                    <li class="breadcrumb-item active">General Settings</li>
                    </ul>*@
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Update Bed</h4>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="BedId" />
                            @*<div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <input asp-for="Status" class="form-control" />
                            <span asp-validation-for="Status" class="text-danger"></span>
                            </div>*@
                            <div class="form-group">
                                <label class="control-label">Name Your Bed: </label>
                                <input asp-for="Bed1" required class="form-control" />
                                <span asp-validation-for="Bed1" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Add Amount: </label>
                                <input asp-for="BedAmount" required class="form-control" />
                                <span asp-validation-for="BedAmount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>