@{
    var errorMessage = TempData["ErrorMessage"] as string;
    if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            alert('@errorMessage');
        </script>
    }
}
@{
    Layout = "~/Views/Shared/_adminsLayout.cshtml";
}
@model Vitality.Models.PatientsRegistration

@{
    ViewData["Title"] = "Edit Patient Details";
}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Edit patient Details</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Modify Patient Details</h4>
                    </div>
                    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientsId" />
            <div class="form-group">
                <label class="control-label">Patient Name</label>
                <input asp-for="PatientsName" required class="form-control" />
                <span asp-validation-for="PatientsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input asp-for="PatientsEmail" required type="email" class="form-control" />
                <span asp-validation-for="PatientsEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Phone #</label>
                <input asp-for="PatientsPhoneNo" required type="number" class="form-control" />
                <span asp-validation-for="PatientsPhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input asp-for="PatientsPwd" required type="password" class="form-control" />
                <span asp-validation-for="PatientsPwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>