
@{
    ViewData["Title"] = "aboutUs";
}

<div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">About Us</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="index">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<section class="about-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-inner-img">
                                <div class="about-img">
                                    <img src="~/../assets/img/about-img1.jpg" class="img-fluid" alt>
                                </div>
                                <div class="about-img">
                                    <img src="~/../assets/img/about-img2.jpg" class="img-fluid" alt>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-inner-img">
                                <div class="about-box">
                                    <h4>Over 25+ Years Experience</h4>
                                </div>
                                <div class="about-img">
                                    <img src="~/../assets/img/about-img3.jpg" class="img-fluid" alt>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-inner-header about-inner-header">
                    <h6>About Our Company</h6>
                    <h2>We Are Always Ensure Best Medical Treatment For Your Health</h2>
                </div>
                <div class="about-content">
                    <div class="about-content-details">
                        <p>
                            Welcome to VITALITY of healthcare excellence committed
                            to serving the community with unwavering dedication. With a legacy rooted in healing, innovation, and compassion, we stand as a pillar of trust for your well-being. Our team of skilled medical professionals, advanced technology, and patient-centric approach come together to create an environment where your health is our priority. As we journey forward, we continue to redefine healthcare, ensuring that every individual
                            who walks through our doors receives not only
                            medical care but also warmth, empathy, and a path to a healthier, happier life.
                        </p>
                    </div>
                    <div class="about-contact">
                        <div class="about-contact-icon">
                            <span><img src="~/../assets/img/icons/phone-icon.svg" alt></span>
                        </div>
                        <div class="about-contact-text">
                            <p>Need Emergency?</p>
                            <h4>+1 315 369 5943</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="why-choose-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-inner-header text-center">
                    <h2>Why Choose Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex">
                <div class="card why-choose-card w-100">
                    <div class="card-body">
                        <div class="why-choose-icon">
                            <span><img src="~/../assets/img/icons/choose-01.svg" alt></span>
                        </div>
                        <div class="why-choose-content">
                            <h4> Excellence</h4>
                            <p>
                                At our commitment to excellence drives every aspect of our care.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
                <div class="card why-choose-card w-100">
                    <div class="card-body">
                        <div class="why-choose-icon">
                            <span><img src="~/../assets/img/icons/choose-02.svg" alt></span>
                        </div>
                        <div class="why-choose-content">
                            <h4>Compassion</h4>
                            <p>At the heart of VITALITY is a deep sense of compassion for our patients.  </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
                <div class="card why-choose-card w-100">
                    <div class="card-body">
                        <div class="why-choose-icon">
                            <span><img src="~/../assets/img/icons/choose-03.svg" alt></span>
                        </div>
                        <div class="why-choose-content">
                            <h4>Expertise</h4>
                            <p>
                                With decades of combined medical expertise, our team have good skill.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
                <div class="card why-choose-card w-100">
                    <div class="card-body">
                        <div class="why-choose-icon">
                            <span><img src="~/../assets/img/icons/choose-04.svg" alt></span>
                        </div>
                        <div class="why-choose-content">
                            <h4> Innovation</h4>
                            <p>
                                Embracing innovation is a cornerstone of our approach at VITALITY.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
