@{
    var errorMessage = TempData["ErrorMessage"] as string;
    if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            alert('@errorMessage');
        </script>
    }
}
@model IEnumerable<Vitality.Models.DoctorsRegistration>

@{
    ViewData["Title"] = "Doctors";
}


<div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">Doctors</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Doctors</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Content for the main section (9 columns) -->
            </div>
            <div class="col-md-3 d-flex justify-content-end">
                <form action="@Url.Action("fetchDoctor","doctorsRegistrations")" method="get" class="d-flex justify-content-end">
                    <input class="form-control" name="searchresult" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-sm bg-success-light" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row blog-grid-row">
                    @foreach (var item in Model)
                    {

                    <div class="col-md-4 col-sm-6">

                        <div class="blog grid-blog">
                            <div class="blog-image">
                                <a asp-controller="DoctorsRegistrations" asp-action="fetchDoctor"><img class="img-fluid" style="height:300px;" src="@Url.Content(item.DoctorsImg)" alt="Post Image"></a>
                            </div>
                            <div class="blog-content">
                                <ul class="entry-meta meta-item">
                                </ul>
                                <h3 class="blog-title"><a asp-controller="DoctorsRegistrations" asp-action="fetchDoctor">@Html.DisplayFor(modelItem => item.DoctorsName)</a></h3>
                                <p class="mb-0">@Html.DisplayFor(modelItem => item.DoctorsCategoryNavigation.DoctorCategory1)</p>
                            </div>
                        </div>

                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
