@{
    var errorMessage = TempData["ErrorMessage"] as string;
    if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            alert('@errorMessage');
        </script>
    }
}
@model Vitality.Models.DoctorsRegistration

@{
    ViewData["Title"] = "Doctor Login";
}

<div class="content top-space">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="~/../assets/img/login-banner.png" class="img-fluid" alt="Login Banner">
                        </div>
                        <div class="col-md-12 col-lg-6 login-right">
                            <div class="login-header">
                                <h3>Login As Doctor <a asp-action="Login" asp-controller="PatientsRegistrations">Not a Doctor?</a></h3>
                            </div>
                            <form asp-action="Login">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <input asp-for="DoctorsEmail" required type="email" class="form-control" />
                                    <label class="control-label">Username</label>
                                    <span asp-validation-for="DoctorsEmail" class="text-danger"></span>
                                </div><br />

                                <div class="form-group">
                                    <input asp-for="DoctorsPwd" required type="password" class="form-control" />
                                    <label class="control-label">Password</label>
                                    <span asp-validation-for="DoctorsPwd" class="text-danger"></span>
                                </div><br />
                                <div class="form-group">
                                    <input type="submit" value="Login" class="btn btn-primary" />
                                </div><br /><br />
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
