@{
    var errorMessage = TempData["ErrorMessage"] as string;
    if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            alert('@errorMessage');
        </script>
    }
}
@{
    Layout = "~/Views/Shared/_adminsLayout.cshtml";
}
@model Vitality.Models.BloodDonor

@{
    ViewData["Title"] = "Blood Donors Registration";
}


<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Blood Donors Registration</h3>
                    @*<ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:(0)">Settings</a></li>
                    <li class="breadcrumb-item active">General Settings</li>
                    </ul>*@
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add Details</h4>
                    </div>
                    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Blood Groups</label>
                <select asp-for="BloodGroup" class ="form-control" asp-items="ViewBag.BloodGroup"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="BloodDonorsName" required class="form-control" />
                <span asp-validation-for="BloodDonorsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input asp-for="BloodDonorsEmail" required class="form-control" />
                <span asp-validation-for="BloodDonorsEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Phone #</label>
                <input asp-for="BloodDonorsPhoneNo" required class="form-control" />
                <span asp-validation-for="BloodDonorsPhoneNo" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Add details" class="btn btn-primary" />
            </div>
        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>