@{
    var errorMessage = TempData["ErrorMessage"] as string;
    if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            alert('@errorMessage');
        </script>
    }
}
@{
    Layout = "~/Views/Shared/_adminsLayout.cshtml";
}
@model Vitality.Models.Admin

@{
    ViewData["Title"] = "Edit Admin Account";
}

@*<h1>Edit</h1>

<h4>Admin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdminId" />
            <div class="form-group">
                <label asp-for="AdminUsername" class="control-label"></label>
                <input asp-for="AdminUsername" class="form-control" />
                <span asp-validation-for="AdminUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminPwd" class="control-label"></label>
                <input asp-for="AdminPwd" class="form-control" />
                <span asp-validation-for="AdminPwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminName" class="control-label"></label>
                <input asp-for="AdminName" class="form-control" />
                <span asp-validation-for="AdminName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@



<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Edit Admin Account</h3>
                    @*<ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:(0)">Settings</a></li>
                    <li class="breadcrumb-item active">General Settings</li>
                    </ul>*@
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Admins</h4>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="AdminId" />
                            <div class="form-group">
                                <label class="control-label">Name: </label>
                                <input asp-for="AdminName" required class="form-control" />
                                <span asp-validation-for="AdminName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Username: </label>
                                <input asp-for="AdminUsername" required class="form-control" />
                                <span asp-validation-for="AdminUsername" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password: </label>
                                <input asp-for="AdminPwd" required class="form-control" />
                                <span asp-validation-for="AdminPwd" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>